<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
</head>
<body>

    <h1>Customer Dashboard</h1>
    <p>Welcome, {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    
    {% if user.profile_image %}
    <img src="{{ user.profile_image.url }}" alt="Profile Picture" />
    {% endif %}
    
    <p>Full Name: {{ user.full_name }}</p>
    <p>Address: {{ user.address }}</p>
    <p>Phone Number: {{ user.phone_number }}</p>
    <p>City: {{ user.city }}</p>
    <p>Province: {{ user.province }}</p>

    <a href="{% url 'account_logout' %}">Logout</a>
    <a href="{% url 'customer_update' %}" class="btn btn-primary">Update Account</a>
    <a href="{% url 'customer_delete' %}" class="btn btn-danger">Delete Account</a>

    <ul>
        <li><a href="{% url 'customer_orders' %}">View Your Orders</a></li>
    </ul>

</body>
</html>
